---
services:
  sut:
    build:
      context: .
      dockerfile: Dockerfile
    command: |
      sh -c '
        set -euo pipefail
        # Use $$ to prevent interpolation 
        if [ $$(id -u) -ne 1000 ]; then
          exit 1
        fi
        awk --version # gawk
        base64 --version # coreutils
        csvq --version # csvq
        csvsql --version # csvkit
        curl --version # curl
        dasel --version # dasel
        git --version # git
        grep --version # grep
        pip --version # py3-pip
        pipx --version # pipx
        python --version # python3
        remarshal --version # remarshal
        sed --version # sed
        yq --version # yq-go
      '
